doc/html
CMakeLists.txt.user
*.pro.user*
*.sublime-*
*.idea*
7za.exe
build/
build-mingw/openssl*
build-mingw/packwin32
build-mingw/qt*-bin
build-mingw/venv
build-macos
build-macos-x86_64
build-macos-arm64
openssl-macos-x86_64
openssl-macos-arm64
openssl-src
staticanalyze
cmake-build*
cred-macos
.vscode/
*.DS_Store
