doc/html
CMakeLists.txt.user
*.pro.user*
*.sublime-*
*.idea*
build/
build-macos
build-macos-x86_64
build-macos-arm64
openssl-macos-x86_64
openssl-macos-arm64
openssl-src
staticanalyze
cmake-build*
cred-macos
.vscode/
*.DS_Store
