[Unit]
Description=deCONZ: ZigBee gateway -- WIFI Service

[Service]
ExecStart=/usr/bin/deCONZ-WIFI2.sh
Restart=on-failure
StartLimitInterval=600

[Install]
WantedBy=multi-user.target
